#boton {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

#boton span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

#boton svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

#boton:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

#boton:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

#boton:hover span {
  transform: translateX(5em);
}

#boton:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

#inputNombre {
  width: 50%;
}

#inputApe {
  width: 50%;
}

#ContenedorForm {
  width: 50%;
}

@media only screen and (max-width: 961px) {
  button {
    font-size: 12px;
  }

  #Nombres {
    flex-direction: column;
  }

  #inputNombre {
    width: 100%;
    margin-top: 10px;
  }

  #inputApe {
    width: 100%;
    margin-top: 10px;
  }

  #ContenedorForm {
    width: 75%;
  }
}
