body {
  height: 100vh;
}

#mostrarCamisetas {
  width: 100%;
}

#mostrarSudaderas {
  width: 100%;
}

#productosCamisetasDiv {
  display: flex;
  flex-direction: row;
}

#productosSudaderasDiv {
  display: flex;
  flex-direction: row;
}

#navbar {
  width: 25%;
}

#Contenido {
  width: 100%;
}

.imagen_categorias {
  object-fit: cover;
  /* Escalar la imagen manteniendo la relaciÃ³n de aspecto y cortando el exceso */
  width: 100%;
  /* Ocupar todo el ancho del contenedor */
  height: 100%;
  /* Ocupar todo el alto del contenedor */
}

@media only screen and (max-width: 961px) {
  #navbar {
    width: 100%;
  }

  #mostrarCamisetas {
    width: 50%;
  }

  #mostrarSudaderas {
    width: 50%;
  }

  #productosCamisetasDiv {
    display: flex;
    flex-direction: column;
  }

  #productosSudaderasDiv {
    display: flex;
    flex-direction: column;
  }

  #Contenido {
    overflow: hidden;
    width: 100%;
  }
}
