#ContenedorPrincipal {
  display: flex;
  flex-direction: row;
}

#FacturacionPago {
  width: 50%;
}

#ResumenPago {
  width: 25%;
}

#datostarjeta {
  display: flex;
  flex-direction: row;
}

#inputsfecha {
  width: 50%;
}

/*Descuentos*/
#contenedordecuento {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#CodigoDescuento {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#btndescuento {
  margin-left: 5px;
}

#descuentosaplicados {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#datosDescuento {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

#hrdescuentos {
  margin: 0;
}

@media only screen and (max-width: 961px) {
  #ContenedorPrincipal {
    display: flex;
    flex-direction: column;
  }

  #FacturacionPago {
    width: 100%;
    margin-right: 20px;
  }

  #Facturacion {
    margin-right: 20px;
  }

  #Facturacion2 {
    margin-right: 20px;

  }

  #datostarjeta {
    display: flex;
    flex-direction: column;
  }

  #inputsfecha {
    width: 100%;
  }

  #fechaex {
    width: 100%;
  }

  #valorFechaEx {
    width: 50%;
  }

  #ResumenPago {
    width: 100%;
    margin-right: 20px;
  }

  #ProductosPedido {
    margin-right: 20px;
  }

  #RealizaPago {
    margin-right: 20px;
  }
}