#contenedor_principal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#contenedorProd {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 3%;
}

#contenedorPago {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.imagen_categorias {
    object-fit: cover;
    /* Escalar la imagen manteniendo la relación de aspecto y cortando el exceso */
    width: 100%;
    /* Ocupar todo el ancho del contenedor */
    height: 100%;
    /* Ocupar todo el alto del contenedor */
}

.contenedor_cantidad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    float: right;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;

}

.contenedor_img {
    width: 80px;
    height: 120px;
    cursor: pointer;
}

.contenedor_datos {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

@media only screen and (max-width: 961px) {
    #contenedor_principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contenedorProd {
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #contenedorPago {
        width: 100%;
    }

}